header{
	background-color:rgba(101, 101, 101, 0.48);
	color: #ffffff;
	font-style:	normal;
}

main{
	background: #666666;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

a{
	color: #000000;
	background-color: rgba(214, 206, 206, 0.97);
	text-align: center;
}

h2{
	color: #000083;
	text-transform: uppercase;
	font-size: 30px;
}

.left{
	display: none;
}
